# Session 4 - Assignment

# Task 1 - Question 1
## Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of the given sequence is defined as follows:
## The moving average sequence has n-k+1 elements as shown below.
## The moving averages with k=4 of a ten-value sequence (n=10) is shown below:
#### i 1 2 3 4 5 6 7 8 9 10
#### ===== == == == == == == == == == ==
#### Input 10 20 30 40 50 60 70 80 90 100
#### y1 25 = (10+20+30+40)/4
#### y2 35 = (20+30+40+50)/4
#### y3 45 = (30+40+50+60)/4
#### y4 55 = (40+50+60+70)/4
#### y5 65 = (50+60+70+80)/4
#### y6 75 = (60+70+80+90)/4
#### y7 85 = (70+80+90+100)/4
#### Thus, the moving average sequence has n-k+1=10-4+1=7 values.
#### Problem Statement:
#### Write a function to find moving average in an array over a window:
#### Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [51]:
import numpy as np

k = 3
sum1 = 0
exp1 =""
s = np.array([3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150])
n = len(s)

for i in range (1,n):
    if i + (k-1) <= n:
        for j in range (i-1, i+(k-1)):
            sum1 = sum1+s[j]
            exp1 = str(exp1)+ " " +str(s[j])
        print ("("+str(exp1)+")/"+str(k)+" = " +str(np.round(sum1/k)))
        sum1=0
        exp1=""

( 3 5 7)/3 = 5.0
( 5 7 2)/3 = 5.0
( 7 2 8)/3 = 6.0
( 2 8 10)/3 = 7.0
( 8 10 11)/3 = 10.0
( 10 11 65)/3 = 29.0
( 11 65 72)/3 = 49.0
( 65 72 81)/3 = 73.0
( 72 81 99)/3 = 84.0
( 81 99 100)/3 = 93.0
( 99 100 150)/3 = 116.0

# Task2

## Question - 1 - How-to-count-distance-to-the-previous-zero
## For each value, count the difference back to the previous zero (or the start of the Series, whichever is closer)
### create a new column 'Y'
### Consider a DataFrame df where there is an integer column 'X'
#### import pandas as pd
#### df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [52]:
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
izero = np.r_[-1, (df['X'] == 0).nonzero()[0]] # indices of zeros
idx = np.arange(len(df))
df['Y'] = idx - izero[np.searchsorted(izero - 1, idx) - 1]
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

## Question - 2 - Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.

In [83]:
dti = pd.date_range(start='2015-01-01', end='2015-12-31', freq='D') 
s = pd.Series(np.random.rand(len(dti)), index=dti)
s

2015-01-01    0.550400
2015-01-02    0.278911
2015-01-03    0.114833
2015-01-04    0.010838
2015-01-05    0.452210
2015-01-06    0.874989
2015-01-07    0.150741
2015-01-08    0.815527
2015-01-09    0.286305
2015-01-10    0.259193
2015-01-11    0.735134
2015-01-12    0.421421
2015-01-13    0.538714
2015-01-14    0.967245
2015-01-15    0.251917
2015-01-16    0.112540
2015-01-17    0.141424
2015-01-18    0.990851
2015-01-19    0.486979
2015-01-20    0.343070
2015-01-21    0.730092
2015-01-22    0.412642
2015-01-23    0.124753
2015-01-24    0.078715
2015-01-25    0.880426
2015-01-26    0.055836
2015-01-27    0.331488
2015-01-28    0.755582
2015-01-29    0.739731
2015-01-30    0.770856
                ...
2015-12-02    0.493577
2015-12-03    0.989833
2015-12-04    0.658709
2015-12-05    0.237604
2015-12-06    0.028333
2015-12-07    0.566156
2015-12-08    0.737260
2015-12-09    0.561223
2015-12-10    0.995095
2015-12-11    0.368402
2015-12-12    0.718706
2015-12-13    0.429831
2015-12-14    0.094465
2015-12-15    0.454850
2015-12-16    0.810255
2015-12-17    0.090451
2015-12-18    0.500989
2015-12-19    0.088864
2015-12-20    0.464427
2015-12-21    0.497888
2015-12-22    0.573617
2015-12-23    0.302581
2015-12-24    0.372483
2015-12-25    0.390168
2015-12-26    0.193243
2015-12-27    0.626115
2015-12-28    0.802790
2015-12-29    0.407175
2015-12-30    0.021833
2015-12-31    0.842830
Freq: D, Length: 365, dtype: float64

# Question - 3 - Find the sum of the values in s for every Wednesday

In [84]:
print("\nsum of the values in s for every Wednesday")
print(s[dti.weekday == 2].sum())

sum of the values in s for every Wednesday
29.69351469505043

# Question - 4 - Average For each calendar month

In [85]:
print("\nAverage For each calendar month")
print(s.resample('M').mean())

Average For each calendar month
2015-01-31    0.450442
2015-02-28    0.526270
2015-03-31    0.405696
2015-04-30    0.573405
2015-05-31    0.455057
2015-06-30    0.465809
2015-07-31    0.548943
2015-08-31    0.522284
2015-09-30    0.500065
2015-10-31    0.454168
2015-11-30    0.484455
2015-12-31    0.482296
Freq: M, dtype: float64

# Question - 5 - For each group of four consecutive calendar months in s, find the date on which the highest value occurred

In [86]:
print("\nDate on which the highest value occurred")
print(s.groupby(pd.Grouper(freq='4m')).idxmax())

Date on which the highest value occurred
2015-01-31   2015-01-18
2015-05-31   2015-04-20
2015-09-30   2015-07-01
2016-01-31   2015-12-10
dtype: datetime64[ns]